body {
    font-family: "Inconsolata", 'Open Sans', sans-serif;
    background: linear-gradient(to top, #2196f3, transparent 100%);
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu .grid-item {
    font-size: 42px;
    border-top: 1px solid white;
    border-bottom: 1px white solid;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    padding-bottom: 50px;
}

.grid-item {
    text-align: center;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#name {
    font-size: 60px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

#title {
    font-size: 35px;
}

#company {
    font-size: 25px;
}

#website-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#website-list a {
    color: white;
}

#website-list a:visited {
    color: white;
}

#fav-food-list {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.bulk-text {
    max-width: 500px;
    margin: auto;
    width: auto;
}

.sub-title {
    font-size: 24px;
}
