body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("background_photo.jpg");
    background-size: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-container p {
}

.grid-item {
    text-align: center;
}

.header {
    text-align: center;
}

#name {
    font-size: 48px;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#title {
    font-size: 28px;
}

#company {
    font-size: 20px;
}

#website-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#website-list a {
    color: black;
}

#website-list a:visited {
    color: black;
}

#fav-food-list {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.bulk-text {
    max-width: 500px;
    margin: auto;
    width: auto;
}

.sub-title {
    font-size: 24px;
}